@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(16, 27, 42);
    color: rgb(255, 255, 255);
}
.main-sizing {
    width: 100%;
    height: calc(100vh - 4rem)
}
@media (min-width: 640px) {
    .main-sizing {
        width: calc(100vw - 12rem);
        height: calc(100vh - 3.75rem)
    }
}